# .NET build artifacts
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Rider
.idea/
*.sln.iml
